body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}


.audio-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.audio-table thead {
  background-color: #000000;
}

.audio-table thead th {
  color: #ffffff;
  font-weight: 900;
  padding: 12px;
  text-align: center;
}

.audio-table th,
.audio-table td {
  padding: 16px;
}


.audio-table td {
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: center;
    line-height: 1.6;
}


.audio-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.cover {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
}

audio {
  width: 200px;
}

.audio-table a {
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

.audio-table a:hover {
  text-decoration: underline;
}
