
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffeef6; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}


h1 {
  color: #d63384;  
  margin-bottom: 30px;
  font-weight: 600;
}

.form-container {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  border: 2px solid #ffb3d9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.form-container h2 {
  text-align: center;
  color: #c2185b;
  margin-bottom: 15px;
  font-weight: 600;
}


.contact-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.contact-table td {
  padding: 10px;
  border: 1px solid #ffd1e8;
  font-size: 14px;
  color: #7a003c;
}

.contact-table td:first-child {
  background-color: #ffe0ef;
  font-weight: 600;
  width: 120px;
}

input, textarea {
  width: 98%;
  padding: 8px;
  border: 1px solid #ffb3d9;
  border-radius: 6px;
  font-family: inherit;
  font-size: 14px;
  background-color: #fff7fb;
}

input:hover,
textarea:hover {
  background-color: #ffeeff;
  border-color: #ff80bf
}

button {
  margin-top: 10px;
  padding: 10px 18px;
  background-color: #ff66b3;  
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  width: 60%;
  transition: 0.3s ease;
}

button:hover {
  background-color: #e0559e;
  transform: scale(1.05);
}
