body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  margin: 30px;
}

h1 {
  text-align: center;
  color: #1d3557;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #2f3e88;
  color: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  text-transform: uppercase;
}

img {
  width: 120px;
  height: auto;
  border-radius: 6px;
}

iframe {
  border-radius: 8px;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.header-blue {
  background-color: #4d63cd;
  color: white;
}

.highlight-row {
  background-color: #9bb0c5;
  color: #1d3557;
  font-weight: bold;
  font-size: 1.5em;
}

.song-link {
  color: #1d3557;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.song-link:hover {
  color: #cd4d58;
  text-decoration: underline;
}